body{
			background-color: #171D20;
			text-shadow: 0px 0px 7px red;
			color:red;
			font-family: "Lucida Console", "Courier New",monospace;

}
img{
	float: left;
	filter: drop-shadow(0px 0px 7px red);
	animation-name: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotation {
  0%   {transform: rotateY(0deg);}  		
  100% {transform: rotateY(180deg);}
}
.item1 { 
  	grid-area: header; 
  	text-align: left;
	}
.item2 { grid-area: menu; 
       margin-right: 70px;      
}
.item3 { grid-area: main; 
      border-style: solid;
      border-width: 1px;
      border-color: red;



}
.item4 { grid-area: reloj; 
  text-align: center;
  float: right; 
  font-size: 1.17em;
  }
.item5 { grid-area: footer; 
  text-align: center;
}

.grid-container {
  	display: grid;
  	grid-template-areas:
    'header header header header header header'
    'menu main main main reloj reloj'
    'menu footer footer footer footer footer';
  	grid-gap: 10px;
  	padding: 10px;
    grid-template-columns: 100px 150px 150px 150px auto;
    grid-template-rows: auto 300px auto;
}

.grid-container > div {
  padding: 20px 0;
  		
}

.button {
  font-family: "Lucida Console", "Courier New",monospace;
  text-shadow: 0px 0px 7px red;
  background-color: red;
  border: 1px solid red;
  color: #171D20;
  padding: 16px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 4px;
  transition-duration: 0.4s;
  cursor: default;
}
.button:hover {
  background-color: #171D20;
  color: red;
}
input[type=text] {
  font-family: "Lucida Console", "Courier New",monospace;
  text-shadow: 0px 0px 7px red;
  width: 96%;
  padding: 12px 20px;
  margin: 8px 8px;
  box-sizing: border-box;
  border: 1px solid red;
  background-color: #171D20;
  color: red;
}
